:root {
  --morado: hsla(243, 70%, 59%, 0.809);
  --silver: rgba(210, 210, 210, 0.985);
  --sm: 14px;
  --md: 16px;
  --lg: 20px;
}

body {
  font-family: "Tilt Neon", cursive;
}

#top-section {
  background-color: rgba(210, 210, 210, 0.985);
}
#mid {
  background-color: var(--morado);
}
#footer {
  background-color:rgba(97, 97, 97, 0.985);
  scroll-behavior: smooth;
}

ul {
    height: 110px;
  padding: 10px 10px 10px;
  width: auto;
  background-color: var(--morado);
  box-shadow: 2px 0px 7px 2px var(--morado);
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--lg);
  transition: all .5s ease;
 
  
}
ul li {
    font-size: var(--lg);
}
ul li:hover{
  background-color: var(--silver);
  border-radius: 10px;
 box-shadow: 2px 0 7px 2px var(--silver);
}

#Menu {
  margin-top: 40px;
}

.active {
    transform: translateY(-600px);
}

.instagram_icon {
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
}